body{
/* background-color:#2D3B01;*/ 
  background-image:url(imgs/wall/citycooler.jpg);
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

ol{
 list-style-type: none;
}

a{

 text-decoration: none;
 color:#a6a5a1;
 position: relative;
}

a::before{
  content: ''; 
  position: absolute;
  left: -1.0em; /* Adjust to position the '>' */
  opacity: 0; 
  transition: opacity 0.3s; 
}

a:hover {
  color: white; /* Change color to white on hover */
}

a:hover::before {
  content: '>'; /* Show '>' when hovered */
  opacity: 1; /* Make it visible */
}

.time{
  font-size: 53px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-bottom: 10px;
  top: -180px;
  position: absolute; 
  color:#4c5e76;
}
.date{
  font-size: 20px;
  font-style: italic;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-bottom: 5px;
  top: -130px;
  position: absolute;
  color:#1f2a3c;
}

.section{
  font-size: 24px;
  font-family: Roboto; 
  overflow-y:scroll;
  background-color:#33322e;
  background-color: rgba(0, 0, 0, 0.7);
  flex: 1 1 15%;
  max-width: 17%; 
  min-width: 200px; 
  height: 39.7%;
  position: relative;
  left: -12px;
  padding: 10px;
}

.title{
  color:#fff;
  font-size: 30px;
  margin: 10px;
  position: relative;
  top: -10px;
}

.image{ 
  background-color: #33322e;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 12.5px; 
  position: relative;
  left: -12px;
  height:39%;
  max-width: 100%;
}
/* don't show scroll bar (works in firefox) */
.section {
  scrollbar-width: none;
}

